<?xml version="1.0"?>

<launch>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/camera/points2"/>
        <remap from="scan" to="/front/scan"/>
        <rosparam>
            target_frame: front_mount
            transform_tolerance: 0.01
            min_height: 0.08
            max_height: 0.5

            angle_min: -0.96 
            angle_max: 0.96
            angle_increment: 0.005
            scan_time: 0.125
            range_min: 0.3
            range_max: 4.0
            use_inf: true

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 4
        </rosparam>

    </node>

</launch>
